/* Tailwind Custom Spinner Style */
@keyframes spin {
	0% {
			transform: rotate(0deg);
	}
	100% {
			transform: rotate(360deg);
	}
}

@keyframes pulse {
	0%, 100% {
			opacity: 1;
	}
	50% {
			opacity: 0.5;
	}
}

.animate-spin {
	animation: spin 3s linear infinite, pulse 3s ease-in-out infinite;
}
